/* Reset básico para remover margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definir cor de fundo e estilo geral */
body {
    background-color: #2f2f2f;
    /* Cor de fundo cinza escuro */
    color: white;
    /* Cor do texto branca */
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilos do header */
header {
    background-color: #333;
    /* Preto */
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5rem;
    color: #f1f1f1;
}

header p {
    font-size: 1.2rem;
    color: #bbb;
    /* Cinza claro */
}

/* Estilos para a seção principal */
section {
    text-align: center;
    padding: 40px;
}

section p {
    font-size: 1.2rem;
    color: #ddd;
    /* Cinza claro */
}

button {
    background-color: #444;
    /* Cinza escuro */
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
    /* Um tom mais claro de cinza para o hover */
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    /* Preto */
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #bbb;
    font-size: 1rem;
}