/* Reset de estilo para garantir um layout limpo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    background-color: #2f2f2f;  /* Cor de fundo cinza escuro */
    color: #fff;  /* Cor do texto branca */
    font-family: Arial, sans-serif;
}

/* Cabeçalho do site */
header {
    text-align: center;
    padding: 30px 0;
    background-color: #333;  /* Preto */
}

header h1 {
    font-size: 3rem;
    color: #f1f1f1;
}

header p {
    font-size: 1.2rem;
    color: #bbb;  /* Cinza claro */
}

/* Estilo para as seções dos caminhões */
main {
    padding: 20px;
    text-align: center;
}

.truck {
    background-color: #444;  /* Cinza escuro */
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.truck h2 {
    font-size: 2rem;
    color: #f1f1f1;
}

.truck img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.specifications {
    text-align: left;
    margin-top: 20px;
}

.specifications h3 {
    font-size: 1.5rem;
    color: #ddd;  /* Cinza claro */
}

.specifications ul {
    list-style-type: none;
    margin-top: 10px;
}

.specifications li {
    font-size: 1.1rem;
    color: #bbb;  /* Cinza claro */
    margin-bottom: 8px;
}

/* Rodapé do site */
footer {
    background-color: #333;  /* Preto */
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #bbb;
    font-size: 1rem;
}
